.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Nav_Main {
  font-size: 25px;
  color: rgb(244, 172, 89);
}

.Main {
  background-color: rgb(251, 215, 179);
}

.search {
  background-color: rgb(250, 139, 20);
  outline-color: rgb(247, 160, 61);
  color: rgba(255, 255, 255, 0.997);
  font-size: 15px;

}

.search_in {
  font-size: 15px;
  opacity: 0.5;
  width: 120%;

}

.main-bg {
  height: 300px;
  /* background-image: url('./img/bread3.jpg'); */
  background-size: cover;
  background-position: center;
}

.findButton {
  margin-left: auto;
  background-color: rgb(227, 213, 196);
  outline-color: rgb(0, 0, 0);
}

